
<div class="row mt-2 mb-1">
  
    <div class = "col-md-3">
    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>
      
        <div class="form-group">
          <label for="q_name_cont">Name contains</label>
          <input class= "form-control" placeholder= "Name contains" type="text" name= "q[name_cont]" id= "q_name_cont" />
        </div>
        
        <div class="form-group">
          <label for="q_cuisine_id_eq_any">Cuisine</label>
              <% Cuisine.all.order(:name).each do |c| %>
                <div class = checkbox>
                  <label>
                  <%=check_box_tag('q[cuisine_id_eq_any][]', c.id) %>
                  <%= c.name %>
                  </label>
                </div>
              <% end %>
        </div>
        
      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>
    
<div class="col-md-6">
  <div class="card">
    <table class="table table-striped table-hover">
      <tr>
        <th>The very best...</th>
        <th>is at...</th>
        <th> </th>
      </tr>

      <% @dishes.order(:name).each do |dish| %>
      <tr>
        <td>
        <a href="/dishes/<%= dish.id %>">
          <%= dish.name  %>
        </a>
        </td>
        <td>
          <% if dish.bookmarks.present? %>
            <a href="/venues/<%= Venue.find(dish.bookmarks.last.venue_id).id %>">
              <%= Venue.find(dish.bookmarks.last.venue_id).name %>
            </a> 
          <% else %>
            <form action="/create_bookmark" method="post">
              <input name = "authenticity_token" type = "hidden" value = <%=form_authenticity_token%>>
              <input type = "hidden" name = "user_id" value = "<%=current_user.id%>">
              <input type = "hidden" name = "dish_id" value = "<%=dish.id%>">
              <label for="venue_id" class="control-label sr-only">
                Venue
              </label>
              <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option>
              <% Venue.all.order(:name).each do |venue| %>
              <option value="<%=venue.id%>"><%=venue.name%></option>
          <% end %>
              </select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
            </form>
          <% end %>
        </td>
        <td class="text-right">
         <span class="badge badge-primary">
          <% if dish.cuisine.present? %>
              <%= dish.cuisine.name %>
          <% end %>
          </span>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="card-footer text-center">
        
    </div>
  </div>
</div>
  <div class="col-md-3">
    <a href="/venues/new" class="btn btn-block btn-success">
      Add a new venue
    </a>
  </div>
</div>

