
<div class="row" align="center">
  <div class="col-md-6 col-md-offset-6" align="center">
    <table class="table table-striped" align="center">
      <tr class="active">
        <th>
          <dt>You loved the <%= @dish.name %> at...</dt>
        </th>
        <th>
        <% if @dish.cuisine.present? %>
            <%= @dish.cuisine.name %>
        <% end %>
        </th>
      </tr>
      <tr>
      <li class="list-group-item">
      <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_id -->
      <input type="hidden" name="dish_id" value="<%= @dish.id %>">

      <!-- Label and input for venue_id -->
      <td>
      <%= select_tag(:venue_id,options_from_collection_for_select(Venue.all.order(:name), :id, :name), :class => "form-control") %>
      </td>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      
      <td>
      <button class="btn btn-link">
        <i class="fa fa-heart-o"></i>
      </button>
      <font size="3">right now</font>
      </td>
    </form>
    </li>
      </tr>
      <% Bookmark.where({:dish_id => @dish.id}).each do |bookmark| %>
      <tr>
        <td>
            <a href="/venues/<%= Venue.find(@dish.id).id %>">
              <%= Venue.find(@dish.id).name %>
            </a> 
        </td>
        <td>
          about <%= time_ago_in_words(bookmark.created_at) %> ago
          <div class="btn-group btn-group-xs float-right">
            <a href="/bookmarks/<%= bookmark.id %>/edit">
              <i class="fa fa-edit"></i>
            </a>
            <a></a>
            <a href="/delete_bookmark/<%= bookmark.id %>" rel="nofollow">
              <i class="fa fa-trash-o"></i> 
            </a> 
          </div>
        </td>
      </tr>
      <% end %>
      </table>
      <form action="/dishes">
      <button class="btn btn-secondary btn-block mb-1">
        <
      </button> 
      </form>
  </div>
</div>


